# Dependencies and resources
dependencies/*
!dependencies/mamba_environment.yml
Alignment/dependencies/*

resources/*
!resources/vcf_header.txt

# Snakemake files
workflow/.snakemake/

# Results
results/*

# Logs
workflow/logs/*
workflow/qsub_logfiles/*
workflow/scheduler.o*

# Cache
workflow/scripts/__pycache__/
workflow/.attach*